{
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
